body{margin: 0;padding: 0;}

/* navar and logo dsign start from here */
.first_part {height: 100px;background: #fff;padding: 34px}
.logo_area {float: left;}
.first_nav {float: right;padding: 0;margin: 0;}
nav ul{list-style: none;}
nav ul li {float: left;padding: 0px 10px}
nav ul li a {font-weight: bold;font-size: 15px;color: #191919 !important;text-decoration: none;font-family: 'Montserrat', sans-serif;}
nav ul li a:hover{color: #1ecbc6 !important;text-decoration: underline !important;}
/* navar and logo END here  */

/* middle background design start from here */
.middle_bg{background-image: url(./images/about1_bg.jpg);height: 350px;background-repeat: no-repeat;background-size: cover;position: relative;}
.middle_bg_title h2 {font-family: 'Montserrat', sans-serif;font-size: 39px;color: #fff;font-weight: bold;text-align: center}
.middle_bg_title p {color: #dbdbdb;font-family: 'Nunito Sans', sans-serif;font-size: 18px;text-align: center;padding: 16px 0px}
.middle_bg_title {width: 600px;margin: auto;height: 130px;margin: -65px 0 0 -300px;position: absolute;top: 50%;left: 50%}
/* middle background design END here */

/* project part design start from here */
.project_part{height: 220px;background: #10c9c3;position: relative;}
.project_row{margin: 0;}
.projet_div_bind span {font-family: 'Montserrat', sans-serif;font-size: 20px;color: #ffffff;font-weight: bold;position: absolute;top: 5px;left: 75px}
.projet_div_bind span p {font-family: 'Montserrat', sans-serif;font-size: 14px;color: #ffffff;font-weight: bold}
.icons_part {color: #ffffff;font-size: 40px;width: 55px;float: left}
.project_part_second_div {max-width: 1140px;top: 37%;position: absolute;bottom: 50%;margin-left: 130px}
/* project part design END here */

/* about me part start from here */
.left_site{height: 480px;background: #EFF4F8;;}
.about_me_part {padding: 87px 140px}
.about_title {color: #171717;font-family: 'Montserrat', sans-serif;font-size: 23pt;font-weight: bold}
.about_content {list-style: none;padding: 0;width: 500px;margin-top: 25px}
.about_content p {font-family: 'Montserrat', sans-serif;font-size: 16px;color: #838383}
.about_content p:nth-child(1) {margin-bottom: 20px}
.about_content p:nth-child(2) {margin-bottom: 35px}
.third_row{margin-right: 0px;margin-left: 0px;}
.third_img {overflow: hidden}
.third_img img {height: 480px}
.right_sight{padding-right: 0 !important;padding-left: 0 !important;}
/* about me part END here */

/* need a project part start from here */
.project_part_all_div_bind {width: 600px;left: 50%;position: absolute;top: 50%;margin: -99px 0 0 -300px}
.need_project{height: 360px;background: #ececec;position: relative;}
.section_part_two_div_bind h2{color: #080808;font-family: 'Montserrat', sans-serif;font-size: 30px;font-weight: bold;margin-bottom: 15px;text-align: center;}
.section_part_two_div_bind p{font-size: 18px;font-family: 'Nunito Sans', sans-serif;color: #6f6f6f;text-align: center;padding: 12px 0px;}
.col_to_action_form input {color: #fff;background: #10c9c3;font-size: 14px;font-weight: bold;padding: 15px 52px;border: none;transition: ease .5s;border-radius: 25px;}
.col_to_action_form input:hover{background: #0ea7a1;cursor: pointer;}
.col_to_action_form {text-align: center;margin-top: 30px;}
/* need a project part END here */

/* .footer are design start from here */
.footer_contact{background: #141414;height: 250px;color: #ffffff;}
.footer_content_all_div {height: 100px;width: 84%;position: absolute;margin: auto;top: 50%;left: 50%;margin: -50px 0 0 -42%}
.footer_part{display: inline-block;position: relative;}
.footer_content_title h5 {font-weight: bold;font-family: 'Montserrat', sans-serif;font-size: 19px;color: #fff}
.footer_part p {font-size: 15px;font-family: 'Nunito Sans', sans-serif;padding: 18px 0px}
.footer_part ul{list-style: none;}
.footer_part ul a {color: #fff;;font-size: 16px;font-family: 'Nunito Sans', sans-serif}
.footer_part:nth-child(2) p {margin-left: 50px;position: absolute;bottom: 0px}
.footer_part:nth-child(4) {padding: 0px 0px;margin-left: 30px}
.footer_part:nth-child(5) {padding: 0px 0px;margin-left: 35px;}
.footer_part:nth-child(5) ul {margin-left: 55px}
.footer_contact {position: relative}
/* footer area END here */


/*about part responsive design start from here */
@media all and (max-width:991px){

    /* header part resposive design start from here */
    .logo_area.col-md-3 {float: left;padding: 0;top: 40px;margin: 0;width: 34px;position: absolute;left: 6%}.first_nav {padding: 0;margin: 0;z-index: 1;position: absolute;right: 6%}
    #navbarSupportedContent {width: 200px;background: #63707e;height: 170px;padding: 30px 12px;position: absolute;margin-top: 5px;top: 50px;right: 0;border: 1px solid #808f9f;box-shadow: 10px 12px 20px 0px #111010}
    /* header part resposive design END here */
}
@media all and (max-width:260px){
    /* header part resposive design start from here */
    #navbarSupportedContent {width: 160px;padding: 30px 8px;}
     /* header part resposive design END here */
}

@media all and (max-width:950px){
    /* background part responsive design start here */
    .middle_bg {height: 37vw}
    /* background part responsive design END here */
}
@media all and (max-width:600px){
    /* background part responsive design start here */
    .middle_bg_title p {color: #ffffff;font-size: 14px;padding: 0px 0px;font-weight: bold}.middle_bg_title h2 {font-size: 34px}.middle_bg_title {height: 96px;margin: -50px 0 0 -300px}
    /* background part responsive design END here */
}
@media all and (max-width:550px){
    /* background part responsive design start here */
    .middle_bg {height: 60vw}
    .middle_bg_title {height: 134px;margin: -67px 0 0 -135px;width: 270px}
    /* background part responsive design END here */
}

@media all and (max-width:400px){
    /* background part responsive design start here */
    .middle_bg {height: 350px}.middle_bg_title {margin: -67px 0 0 -40vw;width: 80vw}
    /* background part responsive design END here */
}
