/* index7 responsive design start from here */
/* Home part responsive design start from here */


@media all and (max-width:991px){
	.logo_area {
		left: 50px;
	}

}



	
@media all and (max-width:691px){

	nav ul li a {
		font-size: 15px;
	}
}

@media all and (max-width:600px){
	.first_nav {
		z-index: 1;
	}

	nav ul li {
		padding: 2px 0px;
	}
	.logo_area {
	left: 0px;
}

.first_nav {
	position: absolute;
	right: 0%;
	top: 40px;
}

}



@

@media all and (max-width:260px){
	.logo_area {
		left: -8px;
	}
	.first_nav {
		right: -4px;
	}
	nav ul li {
		padding: 0px 0px;
	}
}



/* index7 responsive design END here */